<div class="BG2">
    <div class="container">
        <div class="aus wow slideInDown">
            <h1>Click on this buttons to know alot</h1>
            <br />
            <br />
            <button class="btn btn-light col-3" type="submit"><a asp-area="Identity" asp-page="/Account/Register" title="Manage">Register</a></button>
            <br />
            <br />
            <button class="btn btn-light col-3" type="submit"><a href="/RoleManager">RoleManager</a></button>
            <br />
            <br />
            <button class="btn btn-light col-3" type="submit"><a href="/UserRoles">UserRoles</a></button>
        </div>
    </div>
</div>