<div class="BG">
    <div class="container">
        <div style="padding-top:35px;"></div>
        <h1 class="text-center">Graduation of Students</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hours of University Requirements 12H </th>
                    <th>Hours of Faculty Requirements 54H </th>
                    <th>Hours of Specilization Requirements 54H </th>
                    <th>Hours of Free Elective 9H </th>
                    <th>Total of Hours</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2018002</td>
                    <td>Ziad</td>
                    <td>Mohamed</td>
                    <td>12/12</td>
                    <td>54/54</td>
                    <td>54/54</td>
                    <td>9/9</td>
                    <td>129/129</td>
                    <td>Done</td>
                </tr>
                <tr>
                    <td>2018003</td>
                    <td>Ahmed</td>
                    <td>Ziad</td>
                    <td>12/12</td>
                    <td>54/54</td>
                    <td>51/54</td>
                    <td>9/9</td>
                    <td>126/129</td>
                    <td>Still</td>
                </tr>
                <tr>
                    <td>2018004</td>
                    <td>Rania</td>
                    <td>Youssef</td>
                    <td>12/12</td>
                    <td>54/54</td>
                    <td>54/54</td>
                    <td>9/9</td>
                    <td>129/129</td>
                    <td>Done</td>
                </tr>
                <tr>
                    <td>2018004</td>
                    <td>Sama</td>
                    <td>Ahmed</td>
                    <td>12/12</td>
                    <td>54/54</td>
                    <td>54/54</td>
                    <td>9/9</td>
                    <td>129/129</td>
                    <td>Done</td>
                </tr>
                <tr>
                    <td>2018004</td>
                    <td>Yasser</td>
                    <td>Ahmed</td>
                    <td>12/12</td>
                    <td>54/54</td>
                    <td>48/54</td>
                    <td>9/9</td>
                    <td>123/129</td>
                    <td>Still</td>
                </tr>
                <tr>
                    <td>2018004</td>
                    <td>Yasser</td>
                    <td>Ahmed</td>
                    <td>12/12</td>
                    <td>54/54</td>
                    <td>51/54</td>
                    <td>9/9</td>
                    <td>126/129</td>
                    <td>Still</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>