<div class="BG">
    <div class="container">
        <div class="tabletimestyle wow slideInDown">
            <h1>Tables And Times.</h1>
            <div>
            	<table class="col-md-12">
                    <thead>
                  <tr>
                      <th >Course Code</th>
                        <th >Course Name</th>
                        <th >Doctor</th>
                        <th >Place</th>
                        <th >Day</th>
                        <th >Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Hu111</td>
                        <td>English-01</td>
                        <td>Eman</td>
                        <td>Hall-1</td>
                        <td>sunday</td>
                        <td>8:00am</td>
                    </tr>
                    <tr>
                        <td>Cs111</td>
                        <td>IR</td>
                        <td>Alaa</td>
                        <td>Hall-2</td>
                        <td>sunday</td>
                        <td>10:00am</td>
                    </tr>
                    <tr>
                      <th colspan="6"  class="spisial">
                            <button  >Print Timetable</button>
                            <button >Print Mid-Exam Table</button>
                            <button >Print Final-Exam Table</button>
                      </th>
                  </tr>
                  </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>